---
layout: default
title: "Non-Vicious Circle"
---
<div class="introduction">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ex neque, accumsan sit amet tortor id, maximus semper nisi. Donec lacus nisl, egestas vel sem id, pulvinar imperdiet leo. Aliquam pellentesque dui nisl, quis finibus nisi ullamcorper eu. Cras quis massa maximus, facilisis velit et, accumsan risus. In molestie augue quis pellentesque gravida. Integer et tortor iaculis, dapibus elit ac, molestie nibh. Vivamus blandit pretium justo vitae molestie. Ut vel ex tempor, varius tortor eget, ultrices ligula. Sed placerat eget orci accumsan molestie. In cursus lacus aliquet ipsum viverra, a faucibus tellus egestas. Quisque quis rutrum erat. Donec fermentum gravida neque a mollis. Vestibulum maximus turpis sit amet mauris ullamcorper, ac condimentum diam placerat.</p>
</div>

<hr>

<div class="toc">
  <h2>Table of Contents</h2>
  <h3>Preface</h3>
  <ul class="post">

  </ul>
  <h3>20 Poems</h3>
  <ul class="post">
  {% for item in site.texts do %}
    {% if item.number %}
    <li class="post-title">
      <a href="{{ site.baseurl }}{{ item.url }}">
        {{ item.title }}
      </a>
    </li>
    {% endif %}
  {% endfor %}

  </ul> 

</div>



